body{
    background: url("../img/bg.png") 100% 100%;
}
a{text-decoration: none;}
a:hover{
    text-decoration: none;
}
hr{
    margin: 5px 0px;
}
.footInfo{
    margin: 30px 0px 10px 0px;
    text-align: center;
    font-size: 12px;
    color: #4f4f4f;
}
.h2, h2 {
    font-size: 20px;!important;
}
.h2 span{
    font-size: 15px;
}
hr{
    border-color: #e3e3e3;
}
/*  publish.html  */
.tip{
    background-color: #fafcde;
    padding: 20px 10px;
    margin:0px 20px;
}
.tip p{ padding-left: 5px}
.main{
    background-color: white;
}

.TipError{
    color: red;
    font-size: 12px;
    font-weight: bold;
}

/*error.html*/
.jumbotron{
    background: url("../img/bg.png") 100% 100%;
}



/*  index.html  */
.index .questionTit{
    display: inline-block;
    width: 500px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.index .media{
    margin: 25px 0;
}
.questionContent{
    margin: 0px 0 5px 0;
    display: inline-block;
    width: 700px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.desc-test{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.lastPageQuestion{
    text-align: left;
    font-size: 14px;
    margin: 20px;
}

/*profile.html*/
.list-group .active{
    background-color: #4694e6;
}
.list-group .active:hover{
    background-color: #408ad6;
}

/*question.html   */
.selectTags{
    height: 150px;
}
.label-success{
    display: inline-block;
    cursor: pointer;
    margin: 10px 5px 5px 5px;
}
.tab-content{
    word-wrap: break-word;word-break: break-all;overflow: hidden;
}
.erJCommentButton{
    margin: 30px 0 20px 0;
}
.commentContent{
    margin: 9px 0 7px 0;
    font-size: 14px;
    color: black;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
}
.icon{
    display: inline-block;
    width: 50px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #999;
    cursor: pointer;
}
.spanMenu span:last-child{
    color: #999;
}
.spanMenu .icon:hover{
    border-radius: 3px ;
    background-color: #5bc0de;
    color: #fff;
}

.spanMenIconM{
    border-radius: 3px ;
    background-color: #5bc0de;
    color: #fff;
}
.iconM{
    color: #fff;
}

.AllComment{
    padding: 30px 0;
}
.AllComment .commedia{
    margin-left: 20px;
}

.EditICONColor{
    color: #999;
}
.EditICONColor:hover{
    color: #222222;

}
.questionDesc{
    margin:5px 0 25px 0;
}
.bio{
    font-size: 12px;
    color: #5e5e5e;
}
.QuestionComment{
    margin-top: 30px;
}
.textComment{
    margin: 10px 0px;
}
.questionSubmitBtn{
    margin: 5px 0 20px 0;
}


/* footer.html  */
.footInfo{
    margin-top: 30px;
}