body{
    background: url("../img/bg.png") 100% 100%;
}
a:hover{
    text-decoration: none;
}
hr{
    margin: 5px 0px;
}
.footInfo{
    margin: 30px 0px 10px 0px;
    text-align: center;
    font-size: 12px;
    color: #4f4f4f;
}
.h2, h2 {
    font-size: 20px;!important;
}
.h2 span{
    font-size: 15px;
}
hr{
    border-color: #e3e3e3;
}
/*  publish.html  */
.tip{
    background-color: #fafcde;
    padding: 20px 10px;
    margin:0px 20px;
}
.tip p{ padding-left: 5px}
.main{
    background-color: white;
}

.TipError{
    color: red;
    font-size: 12px;
    font-weight: bold;
}


/*  index.html  */
.desc-test{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.lastPageQuestion{
    text-align: left;
    font-size: 14px;
    margin: 20px;
}

/*profile.html*/
.list-group .active{
    background-color: #4694e6;
}
.list-group .active:hover{
    background-color: #408ad6;
}


/*question.html   */
.EditICONColor{
    color: #999;
}
.EditICONColor:hover{
    color: #222222;

}
.questionDesc{
    margin:25px 0 25px 0;
}
.bio{
    font-size: 12px;
    color: #5e5e5e;
}
